.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar, #selectLanguage {
  background-color: rgb(27, 67, 50);
}

.navbar-brand {
  color: rgb(183, 228, 199) !important;
  font-weight: bold;
  font-size: x-large;
}

.nav-link {
  color: rgb(183, 228, 199) !important;
}

#selectLanguage {
  color: rgb(183, 228, 199) !important;
  font-weight: bold;
  margin-top:.9em;
  margin-right:.7em;
  font-size:80%;
}

#wrapper {
  padding:1.5em;
  margin-left:250px;
  white-space: pre-line;
}

#sidebar {
  padding-right:1em;
  padding-bottom:1em;
  padding-top:0;
  padding-left:0;
  color: #d8f3dc;
  position: fixed;
  z-index: 1;
  background-color: #d8f3dc;
  overflow-x: hidden;
  width:250px;
  height:100%;
  border-right: 1px solid #a9c9ae;
}


#dropdown-basic {
  color: #d8f3dc;
  font-weight: bold;
  background:#2d6a4f;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.4);
  border:0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}