.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar {
  background-color: rgb(27, 67, 50);
}

.navbar-brand {
  color: rgb(183, 228, 199) !important;
  font-weight: bold;
  font-size: x-large;
}

.nav-link {
  color: rgb(183, 228, 199) !important;
}
